@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import "tailwindcss";
#root{
  width: 100vw;
  min-height: 100dvh;
}
.nav_link{
  position: relative;
  color: black;
}
.nav_link:hover{
  color: black;
}
#pc_navbar .nav_link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: black;
}
#pc_navbar .nav_link:hover::after{
  content: '';
  width: 100%;
  transition: .5s;
}

.tab_btn{
  padding: 4px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
}

.tab_btn:hover{
  color: #000;
  background-color: rgba(0,0,0,.1);
  transition: .5s;
}

.tab_btn.active{
  background-color: #000;
  color: #fff;
}

.portfolio_item{
  position: relative;
  display: flex;
}
.portfolio_item div{
  border-radius: 1vw;
}
.portfolio_item:hover div{
  transform: scale(1.05);
  transition: 1s;
}
.portfolio_item:hover h3{
  color: black;
}
.portfolio_item a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
@theme {
  --font-sorts_mill_goudy: Sorts Mill Goudy, serif;
}